.DashboardGrid {
  display: flex;
  background-color: #F4F4FF;
  width: 92vw;
  transform: translate(1.6%, 3.9%);
  height: 87vh;
}

.DashboardGrid-inner {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  display: grid;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 190px;
  gap: 1.5%;
  grid-auto-flow: dense;
}

@media (max-width: 1360px) {
  .DashboardGrid-inner {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1115px) {
  .DashboardGrid{
    width: 90vw;
    transform: translate(2.9%, 3.9%);
  }
  .DashboardGrid-inner {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 880px) {
  .DashboardGrid{
    width: 85vw;
    transform: translate(3%, 3.9%);
  }
  .DashboardGrid-inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {

  .DashboardGrid{
    width: 85vw;
    transform: translate(5%, 3.9%);
  }

  .DashboardGrid-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 470px) {

  .DashboardGrid{
    width: 80vw;
    transform: translate(5%, 3.9%);
  }

  .DashboardGrid-inner {
      grid-template-columns: repeat(1, 1fr);
    }
}

.pie-smallWH{
    background-color:  #F4F4F4;
}
.table-smallWH{
    background-color: #F4F4F4;
}

.line-medH{
    background-color:  #F4F4F4;
    grid-row-end: span 2;
}
.line-longH{
    background-color:  #F4F4F4;
    grid-row-end: span 3;
}

.hist-smallWH{
    background-color: #F4F4F4;
}
.hist-medH{
    background-color:  #F4F4F4;
    grid-row-end: span 2;
}
.text-medW{
    background-color: #F4F4FF;
    grid-column-end: span 2;
}

.DashboardGrid-inner::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff00;
}
.DashboardGrid-inner::-webkit-scrollbar-thumb {
  background-color: #938d8d;
  border-radius: 10px;
}
.DashboardGrid-inner::-webkit-scrollbar-track {
  background-color: #ffffff00;
}
.DashboardGrid-inner::-webkit-scrollbar-thumb:hover {
  background-color: #938d8d;
}
.DashboardGrid-inner::-webkit-scrollbar-thumb:active {
  background-color: #938d8d;
}
.DashboardGrid-inner::-webkit-scrollbar-thumb:window-inactive {
  background-color: #938d8d;
}
.DashboardGrid-inner::-webkit-scrollbar-thumb:horizontal {
  background-color: #938d8d;
}
